@model VoucherManager.DTOs.VoucherDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Vouchera: @Model.SerialNumber</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            Typ Vouchera:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoucherType)
        </dd>
        <dt class = "col-sm-2">
            Kwota:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            Data Sprzedaży:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellDate)
        </dd>
        <dt class = "col-sm-2">
            Data ważności:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>
        <dt class = "col-sm-2">
            Ośrodek:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resort)
        </dd>
        <dt class = "col-sm-2">
            Status:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
@if (Model.Attractions.Any())
{
    <h2>Lista Atrakcji</h2>
    <ul>
        @foreach (var item in Model.Attractions)
        {
            <li>@item.Content</li>
        }
    </ul>
}
<div>
    <a asp-action="Index">Wróć do listy</a>
</div>
